<footer class="footerComponent">
  <div class="footerComponent__row">
    <ul>
      <li>
        <a href="/" class="linkStyle linkStyle_transition">Diseñar mi producto</a>
      </li>
      <li>
        <a href="/" class="linkStyle linkStyle_transition">Instagram</a>
      </li>
      <li>
        <a href="/" class="linkStyle linkStyle_transition">Contacto</a>
      </li>
    </ul>
  </div>
  <div class="footerComponent__row">
    <ul>
      <li>
        <a href="/" class="linkStyle linkStyle_transition">Preguntas frecuentes</a>
      </li>
      <li>
        <a href="/" class="linkStyle linkStyle_transition">Puntos de venta</a>
      </li>
    </ul>
  </div>
</footer>