
.user-profile-main{
    width: 100%;
    text-align: center;
}


#user-profile-welcome{
    margin-left: 15px;
}

#profile-data-img{
    width: 100vw;
    text-align: center;
}

.profile-user-img-section{
   width: 100vw;
   height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.profile-user-img{
    width: 70%;
    border-radius: 50%;
}

.profile-user-Alldata{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 15px;

}

.profile-user-data{
    font-size: 20px;
    margin: 15px 0
}

.profile-button{
    width: 80%;
    background-color: #bf9a51;
    color: #0d3a61;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    transition: all 500ms;

}

.profile-button:hover{
    background-color: #0d3a61;
    color: #bcd1bd;
    scale: 1.2;
}

/* BREAK #2 */
@media (min-width: 481px) {
  
    .profile-user-img-section{
         display: flex;
         justify-content: center;
         align-items: center; 
     }

    #profile-data-img{
        display: flex;
        flex-direction: row;
    }

        .profile-user-data{
            font-size: 16px;
            margin: 10px 0
        }
    

    .profile-user-img-section, .profile-user-Alldata{
        margin-bottom: 15px;
        flex: 1
    }
    
}

/* BREAK #3 */
@media (min-width: 769px) {

    .profile-user-data{
        font-size: 25px;
    }

    .profile-user-img{
        max-width: 350px;
        max-height: 350px;
        object-fit: cover;
    }

    .profile-user-Alldata {
        align-items: self-start
    }
    .profile-user-img-section, .profile-user-Alldata{
        margin-bottom: 25px;
    }
}

/* BREAK #4 */
@media (min-width: 1280px) {
    .user-profile-main {
        max-width: 1280px;
        margin: auto;
    }

    #profile-data-img{
        max-width: 1100px;
        margin: auto;
    }

    .profile-button{
        max-width: 900px;
    }

   

}