<div class="header--searchModal searchToggle" id="searchModal">
</div>
<div class="header--searchBoxPosition searchToggleBox" id="searchBoxPosition">
  <div class="header--searchBox searchToggleBox" id="searchModalBox">
    <button class="header--closeButton" id="escapeButton">
      <i class="fa-solid fa-x"></i>
    </button>
    <% if (locals.isLogged) { %>
    <form action="http://localhost:8080/products/searching/searchResultsUser" method="get" class="header--formWrap" id="searchBarForm">
      <label for="inputSearch" class="header--searchTitle">Realiza tu búsqueda</label>
      <input type="text" class="header--searchInput" id="inputSearch" name="searchinfo">
      <div id="searchBarMsg" class=""></div>
      <button class="header--searchButton">Enviar</button>
    </form>
    <% } else { %>
    <form action="http://localhost:8080/products/searching/searchResults" method="get" class="header--formWrap" id="searchBarForm">
      <label for="inputSearch" class="header--searchTitle">Realiza tu búsqueda</label>
      <input type="text" class="header--searchInput" id="inputSearch" name="searchinfo">
      <div id="searchBarMsg" class=""></div>
      <button class="header--searchButton">Enviar</button>
    </form>
    <%  } %>

  </div>
</div>