<!-- HTML -->
<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body class="bodyXL">
    <!-- HEADER -->
    <% const headerData = {linkHead_01: {name: "Twitter", url: "https://twitter.com/"}, linkHead_02: {name: "Instagram", url: "https://instagram.com/"}, linkHead_03: {name: "Google Maps", url: "https://www.google.com/maps/"},  linkHead_04: {name: "Youtube", url: "https://youtube.com/"}, linkHead_05: {name: "Facebook", url: "https://facebook.com/"},}; %>
    <%- include('../partials/header', headerData) %>
  <!-- MAIN -->
  <main class="main-createProduct">
    <form class="createProduct">
      <label class="createProduct-name" for="productName">Nombre del producto</label>
      <input id="createProduct-name" type="text" id="productName" name="productName" require>

      <label class="createProduct-info" for="productColor1">Color</label>
      <section class="createProduct-main-option">
        <label for="productColor1" class="productColor">Color</label>
        <input class="createProduct-option" type="color" id="productColor1" name="productColor1" require>
        <label for="productColor2" class="productColor">Color</label>
        <input class="createProduct-option" type="color" id="productColor2" name="productColor2">
        <label for="productColor3" class="productColor">Color</label>
        <input class="createProduct-option" type="color" id="productColor3" name="productColor3">
      </section>
      <label class="createProduct-info" for="productSize">Talle</label>
      <section class="createProduct-main-option">
        <input class="createProduct-option" type="checkbox" value="S"><label>S</label>
        <input class="createProduct-option" type="checkbox" value="M"><label>M</label>
        <input class="createProduct-option" type="checkbox" value="L"><label>L</label>
        <input class="createProduct-option" type="checkbox" value="XL"><label>XL</label>
      </section>
      <label class="createProduct-info" for="productPrice">Precio</label>
      <input type="number" id="productPrice" name="productPrice" require>
      <label class="createProduct-info" for="productDescription">Descripción</label>
      <input id="createProduct-information-product" type="text" id="productDescription" name="productDescription"
        require>
      <label class="createProduct-info" for="productStock">Cantidad disponible</label>
      <input type="number" id="productStock" name="productStock" require>
      <label class="createProduct-info" for="productImages">Foto del producto</label>
      <input type="file" id="productImages" name="productImages" accept=".jpg , .png">
      <input id="createProduct-finish" type="submit" value="Crear producto">
    </form>

  </main>
<!-- FOOTER -->
<% const footerData = { link_01: {name: "Twitter", url: "https://twitter.com/"}, link_02: {name: "Instagram", url: "https://instagram.com/"}, link_03: {name: "Google Maps", url: "https://www.google.com/maps/"},  link_04: {name: "Youtube", url: "https://youtube.com/"}, link_05: {name: "Facebook", url: "https://facebook.com/"},} %>
<%- include("../partials/footer", footerData); %>
<!-- SCRIPT -->
<!-- MODAL SCRIPT -->
   <script src="/js/main.js"></script>
</body>

</html>