<!-- HTML -->
<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body class="bodyXL">
    <!-- HEADER -->
    <% const headerData = {linkHead_01: {name: "Twitter", url: "https://twitter.com/"}, linkHead_02: {name: "Instagram", url: "https://instagram.com/"}, linkHead_03: {name: "Google Maps", url: "https://www.google.com/maps/"},  linkHead_04: {name: "Youtube", url: "https://youtube.com/"}, linkHead_05: {name: "Facebook", url: "https://facebook.com/"},}; %>
    <%- include('../partials/header', headerData) %>
  <!-- MAIN -->
    <main class="main-editProduct">
        <form class="editProduct">
            <div class="editProduct-title-productName">
                <label class="editProduct-name" for="productName">Nombre del producto</label>
                <i class="fa-solid fa-pen-to-square editButton"></i></button>
            </div>
            <input id="editProduct-name" type="text" id="productName" name="productName" placeholder="Buzo Oversize" require>
            <div class="editProduct-title">
                <label class="editProduct-info" for="productColor1">Color</label>
                <i class="fa-solid fa-pen-to-square editButton"></i></button>
            </div>
            <section class="editProduct-main-option">
                <label for="productColor1" class="productColor">Color</label>
                <input class="editProduct-option" type="color" id="productColor1" name="productColor1" require>

                <label for="productColor2" class="productColor">Color</label>
                <input class="editProduct-option" type="color" id="productColor2" name="productColor2">

                <label for="productColor3" class="productColor">Color</label>
                <input class="editProduct-option" type="color" id="productColor3" name="productColor3">

            </section>
            <div class="editProduct-title">
                <label class="editProduct-info" for="productSize">Talle</label>
                <i class="fa-solid fa-pen-to-square editButton"></i></button>
            </div>
            <section class="editProduct-main-option">
                <input class="editProduct-option" type="checkbox" value="S"><label>S</label>
                <input class="editProduct-option" type="checkbox" value="M"><label>M</label>
                <input class="editProduct-option" type="checkbox" value="L"><label>L</label>
                <input class="editProduct-option" type="checkbox" value="XL"><label>XL</label>
            </section>
            <div class="editProduct-title">
                <label class="editProduct-info" for="productPrice">Precio</label>
                <i class="fa-solid fa-pen-to-square editButton"></i></button>
            </div>
            <input type="number" id="productPrice" name="productPrice" placeholder="$15.200" require>
            <div class="editProduct-title">
                <label class="editProduct-info" for="productDescription">Descripción</label>
                <i class="fa-solid fa-pen-to-square editButton"></i></button>
            </div>
            <textarea id="editProduct-information-product" type="text" id="productDescription" name="productDescription"
            placeholder="Buzo de rústico calce holgado, disponible en 3 colores y del talle S al XL. Elegí tu estampa favorita para personalizarlo!" require></textarea>
            <div class="editProduct-title">
                <label class="editProduct-info" for="productStock">Cantidad disponible</label>
                <i class="fa-solid fa-pen-to-square editButton"></i></button>
            </div>
            <input type="number" id="productStock" name="productStock" placeholder="12">
            <div class="editProduct-title">
                <label class="editProduct-info" for="productImages">Foto del producto</label>
                <i class="fa-solid fa-pen-to-square editButton"></i></button>
            </div>
            <input type="file" id="productImages" name="productImages" accept=".jpg , .png">

            <input id="editProduct-finish" type="submit" value="Producto editado">
        </form>

    </main>

 <!-- FOOTER -->
<% const footerData = { link_01: {name: "Twitter", url: "https://twitter.com/"}, link_02: {name: "Instagram", url: "https://instagram.com/"}, link_03: {name: "Google Maps", url: "https://www.google.com/maps/"},  link_04: {name: "Youtube", url: "https://youtube.com/"}, link_05: {name: "Facebook", url: "https://facebook.com/"},} %>
<%- include("../partials/footer", footerData); %>
<!-- SCRIPT -->
<!-- MODAL SCRIPT -->
   <script src="/js/main.js"></script>
</body>

</html>