<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseñart</title>
    <link rel="stylesheet" href="/css/styles/styles.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>

<body>
    <header class="header">
        <nav class="about-nav">
          <div class="about-nav__wrap icon--bigger-widener"><a href="#" class="about__anchor icon--bigger-widener"><i class="fa-sharp fa-solid fa-bars icon about__icon  icon--bigger"></i></a></div>
        </nav>
        <div class="logo">
          <a href="http://localhost:3000/home" class="img__anchor"><img src="/img/logo.png" alt="logo diseñart" class="img"></a>
        </div>
        <nav class="account-nav">
          <ul class="ul">
            <li class="li">
              <a href="#"><i class="fa-solid fa-magnifying-glass icon icon--bigger-alt"></i></a>
            </li>
            <li class="li">
              <a href="#"><i class="fa-solid fa-cart-shopping icon icon--bigger-alt"></i></a>
            </li>
            <li class="li">
              <a href="#" onclick="openModal('modal1')" ><i class="fa-regular fa-user icon icon--bigger-alt"></i></a>
            </li>
          </ul>
        </nav>
      </header>


    <main>
        <h2 class="home-title">Diseñart</h2>
        <section class="main-second">
        <img class= "main-second-images" src="/images/Remeras/remera2.jpg">
        <img class="main-second-images" src="/images/Remeras/remera3.jpg">
        <img class="main-second-images" src="/images/Remeras/remera4.jpg">
    </section>
    <section class="main-first">
        <img class= "main-first-images" src="/images/Remeras/remera1.jpg">
    </section>

    <section class="main-information">
        <h2 id="name"> Nombre del Producto </h2>
        <h4 class="info">Color</h4>
        <section class="main-option"> 
        <button class="option"> Color 1</button>
        <button class="option"> Color 2</button>
        <button class="option"> Color 3</button>
    </section>
        <h4 class="info">Talle</h4>
        <section class="main-option"> 
        <button class="option"> Talle 1</button>
        <button class="option"> Talle 2</button>
        <button class="option"> Talle 3</button>
        <button class="option"> Talle 4</button>
    </section >
          <h3 id="precio">$3900</h3>
    </section>
        <button id="finish"> Comprar</button>

        <h2 id="description"> Descripción del Producto </h2>
        <p id="information-product">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
    </main>