<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseñart</title>
    <link rel="stylesheet" href="../public/css/styles/styles.css">
    <!-- Sistema de íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Tipografías -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto+Condensed:wght@300&display=swap"
        rel="stylesheet">


</head>

<body>
    <header class="header">
        <nav class="header__about-nav">
            <a href="#"><i class="fa-sharp fa-solid fa-bars header__icon header__icon_size-small"></i></a>
        </nav>
        <div class="header__logo">
            <a href="#"><i class="fa-solid fa-house header__icon header__icon_size-small"></i></a>
        </div>
        <nav class="header__account-nav">
            <ul class="header__ul">
                <li class="header__li">
                    <a href="#"><i class="fa-solid fa-magnifying-glass header__icon header__icon_size-small"></i></a>
                </li>
                <li class="header__li">
                    <a href="#"><i class="fa-solid fa-cart-shopping header__icon header__icon_size-small"></i></a>
                </li>
                <li class="header__li">
                    <a href="#"><i class="fa-regular fa-user header__icon header__icon_size-small"></i></a>
                </li>
            </ul>
        </nav>
    </header>



    <main>
        <img src="/img/remera.jpg">
        <img src="/img/remera.jpg">
        <img src="/img/remera.jpg">
        <img class= "imagen principal" src="/img/remera.jpg">
        <h2> Nombre del Producto </h2>
        <h4>color</h4>
        <button> Color 1</button>
        <button> Color 2</button>
        <button> Color 3</button>
        <h4>talle</h4>
        <button> Talle 1</button>
        <button> Talle 2</button>
        <button> Talle 3</button>
        <button> Talle 4</button>
        <h3>precio</h3>
        <button> Diseñar</button>
        <section>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</section>
    </main>