<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseñart</title>
    <link rel="stylesheet" href="../public/css/styles/styles.css">
    <!-- Sistema de íconos -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <!--Tipografías -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

</head>
<body>
  <header class="header">
    <nav class="header__about-nav">
      <a href="#"><i class="fa-sharp fa-solid fa-bars header__icon header__icon_size-small"></i></a>
    </nav>
    <div class="header__logo">
      <a href="#"><i class="fa-solid fa-house header__icon header__icon_size-small"></i></a>
    </div>
    <nav class="header__account-nav">
      <ul class="header__ul">
        <li class="header__li">
          <a href="#"><i class="fa-solid fa-magnifying-glass header__icon header__icon_size-small"></i></a>
        </li>
        <li class="header__li">
          <a href="#"><i class="fa-solid fa-cart-shopping header__icon header__icon_size-small"></i></a>
        </li>
        <li class="header__li">
          <a href="#"><i class="fa-regular fa-user header__icon header__icon_size-small"></i></a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <!-- Desiree -->
  </main>
  <footer>
    <!-- Juan Diego -->
  </footer>  
  <main></main>
  <footer></footer>
</body>
</html>