<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseñart</title>
    <link rel="stylesheet" href="../public/css/styles/styles.css">
    <!-- Sistema de íconos -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
  <header class="header">
    <nav class="header__about-nav">
      <a href="#"><i class="fa-sharp fa-solid fa-bars"></i></a>
    </nav>
    <div class="header__logo">
      <a href="#"><i class="fa-solid fa-house"></i></a>
    </div>
    <nav class="header__account-nav">
      <ul class="header__ul">
        <li class="header__li">
          <a href="#"><i class="fa-solid fa-magnifying-glass header__icon"></i></a>
        </li>
        <li class="header__li">
          <a href="#"><i class="fa-solid fa-cart-shopping header__icon"></i></a>
        </li>
        <li class="header__li">
          <a href="#"><i class="fa-regular fa-user header__icon"></i></a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <!-- Desiree -->
  </main>
  <footer>
    <!-- Juan Diego -->
  </footer>  
</body>
</html>