/* Todo import debe ir antes de cualquier otra operación */
/* Normalizador. Setea box-sizing y otras cosas para mejorar compatibilidad. Buena práctica */
@import "./normalize/modern-normalize.css";

/* Fonts importadas */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Estilos del home */
@import "/public/css/home/header.css";
@import "/public/css/home/main.css";
@import "/public/css/home/footer.css";

/* Fonts aplicadas de manera global */
* {
    font-family: "Roboto Condensed", "Nunito Sans",  sans-serif;
}

/* Paleta de colores. Solamente para referencia visual */
.colors {
    color: #9daa9d;
    color: #bcd1bd;
    color: #0d3a61;
    color: #eef0de;
    color: #bf9a51;
}
