<!DOCTYPE html>
<html lang="es" id="notfound">
<%- include("../partials/head") %>

  <body id="notfound">
    <div class="notfound-404">
      <img class="img-404" src="/images/misc/404.png">
      <h2 id="notfound-title"> Página no encontrada </h2>
      <p id="notfound-text">Lamentablemente no encontramos la página que buscas porque ha cambiado de nombre o no está
        disponible temporalmente</p>

      <% if (locals.isLogged) { %>
      <a class="buttonsBack404" href="/users/profile">
        <button class="button404"> Ir a mi perfil </button>
      </a>
      <a class="buttonsBack404" href="/products/searching/searchResultsUser">
        <button class="button404"> Ir a productos </button>
      </a>
      <% } else { %>
        <a class="buttonsBack404" href="/">
          <button class="button404"> Volver al inicio </button>
        </a>
        <a class="buttonsBack404" href="/products/searching/searchResults">
          <button class="button404"> Ir a productos </button>
        </a>
        <% } %>

    </div>
  </body>

</html>