.userList-title {

    text-align: center;
    margin-top: 10px;

}

.userList {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userProfile {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userList-img {
    max-width: 250px;
    margin-top: 20px;

}

.userList-data {
    margin: 5px;

}

/* BREAK #2 */
@media (min-width: 481px) {}

/* BREAK #3 */
@media (min-width: 769px) {

    .userList {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .userProfile {
        width: 45vw;

    }


}

/* BREAK #4 */
@media (min-width: 1280px) {}