body{
    background-color: #bcd1bd;
    color: #0d3a61;
    font-family: 'Roboto Condensed'
}

.main-second{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-second-images{
padding: 5px;
width: 20%;
background-color: #eef0de;
border: 2px #0d3a61 solid;
margin: 10px;
}

.main-first{
    display: flex;
     align-items: center;
    justify-content: center;
}


.main-first-images{
    width: 80%;
    padding: 5px;
    background-color:  #eef0de;
    border: 2px #0d3a61 solid;
    margin: 10px;
}


.main-information {

    justify-content:flex-start;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#name{
     font-size: 30px;
     margin-bottom: 5px;
     display: flex;
    justify-content:center;
    font-family:'Nunito Sans';
    font-weight:bolder;
}

.info{
    width: 100%;
    font-size: 15px;
    margin-bottom: 1px;
    margin-top: 5px;
    font-family: 'Roboto Condensed';
    font-weight:bolder;
    margin-left: 10%;
}


.main-option{
display: flex;
margin: 5px;
margin-left: 10%;
margin-right: 10%;

}

.option{
    margin: 2%;
    background-color: #eef0de;
    border: none;
    color: #0d3a61;
    font-family: 'Roboto Condensed';
    font-size: 16px;
}


#precio{
    margin-left: 10%;
    margin-top: 2px;
}


#finish{
    width: 80%;
    margin-left: 10%;
    background-color: #bf9a51;
    color: #0d3a61;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    margin-bottom: 20px;

}

#description{
    margin-left: 10%;
    font-size: 15px;
}

#information-product{
    margin: 0 10%;
    font-size: 10px;
 
}