/* SETUP */
:root {
    --darkGreen: #9daa9d;
    --lightGreen: #bcd1bd;
    --darkBlue: #0d3a61;
    --oliveCream: #eef0de;
    --mustard: #bf9a51;
}

/* STYLING */
/* FOOTER WRAPPERS */
.footerComponent {
    width: 100%;
    max-width: 100vw;
    min-width: 360px;
    display: flex;
    flex-wrap: wrap;
}

.footerComponent__row{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 2vh;
}

/* LINK STYLING */
.linkStyle {
    text-decoration: underline;
    text-decoration-color: var(--darkBlue);
    color: var(--darkBlue);
}

.linkStyle_transition {
    opacity: 1;
    font-size: 1rem;
    transition: all 500ms ease-in-out 0s;
}
    .linkStyle_transition:hover {
        opacity: 0.8;
        font-size: 1.1rem;
    }

/* QUERIES */
@media (min-width: 361px) {/*code goes here*/}
@media (min-width: 769px) {
    .footerComponent {
        width: 100%;
        max-width: 100vw;
        min-width: 360px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5vh;
        background-color: var(--oliveCream);
    }
    .footerComponent__row{
        display: inline-flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
}
@media (min-width: 1280px) {
    .footerComponent {
        width: 100%;
        max-width: 100vw;
        min-width: 360px;
        display: flex;
        flex-wrap: nowrap;
        margin-top: 5vh;
    }
}