/* HEADER */
.header {
    width: 100vw;
    height: 12vh;
    background-color: #eef0de;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 380px;
    min-height: 80px;
}

/* ABOUT */
.about-nav {
    display: inline-flex;
    justify-content: flex-start;
    padding-left: 1vw; 
    width: 25%
}

.about-nav__wrap {
    display: inline-block;
    position: relative;
    left: 10%;
}

.about__anchor {
    display: inline-block;
    width: 1.5rem;
}

.about__icon {
    width: 100%;
}

/* LOGO */
.logo {
    display: inline-flex;
    justify-content: center;
    width: 50%;
    max-height: 100%;
}

/* ACCOUNT */
.account-nav {
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 2vw;
    width: 25%;
}

.account__anchor {
    display: inline-block;
    width: 100%;
}

/* IMG */
.img {
    display: inline;
    width: 100%;
}

.img__anchor {
    display: inline-flex;
    justify-content: center;
    width: 50%;
    max-width: 70px;
}

/* UL */
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    flex: 1 0 100%;
    display: inline-flex;
    justify-content: space-around;
}

.li {
    display: inline;
}

/* ICON */
.icon {
    color: #0d3a61;
}

.icon--bigger {
    font-size: 1.5rem;
}
.icon--bigger-widener {
    width: 1.5rem;
}

.icon--bigger-alt {
    width: 1rem;
}


/* -------------------------------------------------------------------- MEDIA QUERIES  */

/* BREAK #2 */
@media (min-width: 481px) {
    .img__anchor {
        display: inline-flex;
        justify-content: center;
        width: 50%;
        max-width: 90px;
    }
    .ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        flex: 1 0 100%;
        display: inline-flex;
        justify-content: space-around;
        max-width: 250px;
    }
    .icon--bigger {
        font-size: 2.5rem;
    }
    .icon--bigger-widener {
        width: 2.5rem;
    }
    
    .icon--bigger-alt {
        font-size: 2rem;
    }
    
}

/* BREAK #3 */
@media (min-width: 769px) {
    .icon--bigger-alt {
        font-size: 1.5rem;
    }
}

/* BREAK #4 */
@media (min-width: 1280px) {
    .header {
        width: 100vw;
        height: 10vh;
        background-color: #eef0de;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 380px;
        min-height: 80px;
    }
    .img__anchor {
        display: inline-flex;
        justify-content: center;
        width: 50%;
        max-width: 125px;
    }
    .ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        flex: 1 0 100%;
        display: inline-flex;
        justify-content: space-around;
        max-width: 300px;
    }
    .about-nav {
        display: inline-flex;
        justify-content: flex-start;
        padding-left: 0px;
        width: 25%;
    }
    .icon--bigger {
        font-size: 3rem;
    }
    .icon--bigger-widener {
        width: 3rem;
    }
    .icon--bigger-alt {
        font-size: 2rem;
    }
}

