main {
    background-color: #bcd1bd;
    margin: auto
}

.home-wrap {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0;
}


.home-title {
    font-size: 35px;
    color: #0d3a61;
    font-family: 'Nunito Sans';
    margin-top: 0px;
    padding-top: 15px;
    margin-left: 10%;
    padding-bottom: 15px;
}

.home-product-wrap {
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: #eef0de;
    display: flex;
    flex-direction: column;

}

/*carrusel*/

/*.home-carousel {
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #bf9a51; 
    border-radius: 5px;   
}*/

.home-carousel {
    width: 90%;
    height: 250px; /* Ajusta la altura según necesidades */
    overflow: hidden;
    margin: auto;
    position: relative;
}

.home-carousel-container {

    height: 400%; /* Ajustar altura según el número de imágenes */
    animation: carousel-animation 15s infinite;
}

.home-carousel img {
    width: 100%;
    height: calc(100% / 4);
    object-fit: cover;
}


.carousel-button-up, .carousel-button-down{
    position: absolute;
    z-index: 100;
    left: 48%;
}

.carousel-button-up button, .carousel-button-down button{
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 0px;
}

.carousel-button-down{
    bottom: 0px;
}


@keyframes carousel-animation {
    10% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-75%);
    }

    100%{
        transform: translateY(0);
    }
}

/*fin carrusel - resto home*/

.home-button {
    align-items: right;
}

.design-button {
    color: #0d3a61;
    background-color: #bf9a51;
    float: right;
    margin-right: 5%;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 5px 0px;
    margin-top: 15px;
}

.home-product-information {
    color: #0d3a61;
    display: block;
    margin-top: 15px;
    text-align: justify;
    padding: 10%;

}

.home-product-links {
    display: none;
}

@media(min-width: 481px){
    
}

@media(min-width: 769px) {

    /*     .home-product-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
   }

   .home-product-links{
    display: block;
}

.home-product-wrap img {
    width: 40%;
      
}  */

}

@media(min-width: 1281px) {
    
}