<div class="header--searchModal searchToggle" id="searchModal">
</div>
<div class="header--searchBoxPosition searchToggleBox" id="searchBoxPosition">
  <div class="header--searchBox searchToggleBox" id="searchModalBox">
    <button class="header--closeButton" id="escapeButton">
      <i class="fa-solid fa-x"></i>
    </button>
    <form action="http://localhost:3000/products/searching/searchResults" method="get" class="header--formWrap">
      <label for="inputSearch" class="header--searchTitle">Realiza tu búsqueda</label>
      <input required type="text" class="header--searchInput" id="inputSearch" name="searchinfo">
      <button class="header--searchButton">Enviar</button>
    </form>
  </div>
</div>

