<div class="header--searchModal searchToggle" id="searchModal">
</div>
<div class="header--searchBox searchToggleBox" id="searchModalBox">
  <button class="header--closeButton" id="escapeButton">
    <i class="fa-solid fa-x"></i>
  </button>
  <label for="">Realiza tu búsqueda</label>
  <input type="text">
</div>