<div id="modal1" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('modal1')"><i class="fa-solid fa-xmark"></i></span>
    <h2 class="modal-form__titulo">Bienvenido</h2>
    <form class="modal-form" action="/">
      <label for="email">Correo electrónico</label>
      <input class="input" type="email" id="email" name="email" required>

      <label for="password">Contraseña</label>
      <input class="input" type="password" id="password" name="password" required>

      <div class="checkbox-password">
        <input type="checkbox" id="remember-password" name="remember-password">
        <label for="remember-password">Recordarme</label>
      </div>

      <p><a href="#">¿Olvidaste tu contraseña?</a></p>

      <button class="modal-submit" type="submit">Iniciar sesión</button>

      <div class="modal-bottom">
        <p>¿Necesitas una cuenta?</p> <a href="#" onclick="closeModal('modal1'); openModal('modal2')">Registrarse</a>
      </div>

    </form>
  </div>
  </div>