<div id="modal3" class="modal">
  <div class="modal-content-shopping modal_position">

    <span class="close-shopping" onclick="closeModal('modal3')"><i class="fa-solid fa-xmark"></i></span>
    <h2 class="modal-shopping_titulo">Este es tu carrito!</h2>
    <div class="shopping-cart">
      <section class="productos">
        <article class="item">
          <img class="main-second-images-shopping " src="/images/productos/Buzo/buzo1.jpg">
          <p class="shopping-nombre">Buzo</p>
          <div class="quantity-item">
            <button class="button-up-quantity-item"><i class="fa-solid fa-angle-up"></i></button>
            <p class="shopping-cantidad">1</p>
            <button class="button-down-quantity-item"><i class="fa-solid fa-angle-down"></i></button>
          </div>
          <p class="shopping-precio">$3500</p>
          <button class="delete-product"><i class="fa-solid fa-xmark"></i></button>
        </article>

        <article class="item">
          <img class="main-second-images-shopping " src="/images/productos/Termo/termo1.jpg">
          <p class="shopping-nombre">Termo</p>
          <div class="quantity-item">
            <button class="button-up-quantity-item"><i class="fa-solid fa-angle-up"></i></button>
            <p class="shopping-cantidad">1</p>
            <button class="button-down-quantity-item"><i class="fa-solid fa-angle-down"></i></button>
          </div>
          <p class="shopping-precio">$15000</p>
          <button class="delete-product"><i class="fa-solid fa-xmark"></i></button>

        </article>

        <article class="item">
          <img class="main-second-images-shopping " src="/images/productos/Remera/remera-h1.jpg">
          <p class="shopping-nombre">Remera</p>
          <div class="quantity-item">
            <button class="button-up-quantity-item"><i class="fa-solid fa-angle-up"></i></button>
            <p class="shopping-cantidad">1</p>
            <button class="button-down-quantity-item"><i class="fa-solid fa-angle-down"></i></button>
          </div>
          <p class="shopping-precio">$7800</p>
          <button class="delete-product"><i class="fa-solid fa-xmark"></i></button>

        </article>
      </section>

      <section class="shopping-total">
        <div class="shopping-total-information">
          <p class="shopping-total-precio"> TOTAL</p>
          <p class="shopping-total-precio"> $26300</p>
        </div>
        <button id="shopping-pagar"> Pagar</button>
      </section>
    </div>
  </div>
  </div>