<!-- HTML -->
<!doctype html>
<html lang="es">
	<%- include("../partials/head") %>
	<body class="bodyXL">
		<!-- HEADER -->
		<%- include('../partials/header') %>
		<!-- MAIN -->

		<main class="main-colour-size">
			<div class="">
				<label class="colour-size-name">Talles Existentes</label>
			</div>
			<div class="colour-size-content">
				<div class="colour-size-list">
					<% sizes.forEach(size => { %>
					<ul>
						<li><%= size.size %></li>
					</ul>
					<% }) %>
				</div>
			</div>
			<br />
			<div class="">
				<label class="colour-size-name">Nuevo Talle</label>
			</div>
			<form id='createSizeForm' class="create-color-size" action="/products/sizes" method="post">
				<input
					class="colour-size-input"
					type="text"
					id="productSize"
					name="productSize"
				/>
				<!-- FRONTEND SIZE ERROR -->
				<div class="text-danger" id="productSizeError" style="margin: auto;"></div>

				<input id="colour-size-finish" type="submit" value="Crear Talle" />
			</form>
			<br />

			<a href="/products/createProduct">
				<button id="colour-size-finish">Ir a crear producto</button>
			</a>
		</main>
		<!-- FOOTER -->
		<%- include("../partials/footer"); %>
		<!-- SCRIPT -->
		<script src="/js/header.js"></script>
		<script src="/js/createSize.js"></script>
	</body>
</html>
