<!-- HTML -->
<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body class="bodyXL">
    <%- include('../partials/header') %>
    <main class="mainPadding">
      <section class="home-wrap">
        <h2 class="home-title">DISEÑART</h2>
        <div class="home-product-wrap">
          <div class="home-carousel">
            <div class="carousel-button-up"><button><i class="fa-solid fa-angle-up"></i></button></div>
            <div class="carousel-button-down"><button><i class="fa-solid fa-angle-down"></i></button></div>
            <div class="home-carousel-container">
              <img src="/images/productos/buzo2.jpg">
              <img src="/images/productos/remera-h1.jpg">
              <img src="/images/productos/termo1.jpg">
              <img src="/images/productos/taza2.jpg">
            </div>
          </div>
          <div class="home-button"> <a href="/product/details"><button class="design-button">Empezá a diseñar</button></div></a>
          <p class="home-product-information">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim tempore
            quisquam perferendis deserunt assumenda! Ipsa consequatur saepe ducimus, ipsum ut tempora! Repudiandae
            quisquam rem animi maxime deserunt quasi corrupti blanditiis?</p>
          <div class="home-product-links">
            <ul class="product-links-content">
              <li><a href="#">BUZO OVERSIZE</a></li>
              <li><a href="#">REMERA OVERSIZE</a></li>
              <li><a href="#">TERMO PEQUEÑO</a></li>
              <li><a href="#">TAZA MEDIANA</a></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <%- include("../partials/footer") %>
    <script src="js/main.js"></script>
  </body>
</html>