.search-title {
  font-size: 35px;
  color: #0d3a61;
  font-family: 'Nunito Sans';
  padding-top: 15px;
  margin-left: 10%;

}

.itemBox {
  width: 100%;
  min-width: 380px;
  height: auto;
  min-height: 100px;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.itemBox--product {
  width: 80%;
  max-width: 350px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--oliveCream);
  background-color: var(--oliveCream);
  margin: 2vh;
  transition: box-shadow 0.10s;
  position: relative;
}

.itemBox--product:hover{
  box-shadow: 0px 0px 4px 4px rgba(191, 154, 81, 0.2);
}

.itemBox--product:hover .itemBox--image {
  opacity: 0.7;
}

.itemBox--product:hover .search-buyBottom {
  opacity: 1;
}



.itemBox--anchor {
  width: 90%; 
  background-color: gray;
  margin-top: 5%;
}

.itemBox--image {
  width: 100%;
  height: 100%;
  border: 2px #0d3a61 solid;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.5s;
}

.search-nameProduct{
  font-size: 1.5em;
  color: #0d3a61;
  font-family: 'Nunito Sans';
  font-weight: bolder;
  margin: 5% 2%;
}


.search-buyBottom{
background-color: var(--darkBlue);
  font-size: 1.5em;
  color: var(--oliveCream);
  font-family: 'Nunito Sans';
  font-weight: bolder;
  margin: 5% 2%;
  width: 50%;
  border-radius: 5px;
  position: absolute;
 z-index: 10;
 top: 150px;
 right: 75px;
 text-align: center;
opacity: 0;
transition: opacity 0.5s;
}


.price-description{
  color: var(--darkBlue);
  font-size: 1.5em;
  font-family: 'Nunito Sans';
  margin: 1% 2%;
}


.itemBox--searchError {
  font-size: 2rem;
  color: var(--darkBlue);
}  




@media (min-width: 600px) {
  .itemBox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {

}