.itemBox {
  width: 100%;
  height: auto;
  max-height: max-content;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.itemBox--product {
  width: 30vw;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--oliveCream);
  background-color: var(--oliveCream);
  margin: 2vh;
  box-shadow: -5px 5px 5px gray;
}

.itemBox--anchor {
  width: 50%; 
  background-color: gray;
}

.itemBox--image {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.5s;
}

.itemBox--image:hover {
  opacity: 0.7;
}