<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar producto</title>
        <link rel="stylesheet" href="/css/styles/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
      </head>
</head>
<body>
    <form class = "createProduct">
        <div class = "productName">
        <label for="productName">Nombre del producto</label>
        <input type="text" id="productName" name= "productName" require >
        <button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
    
        <label for="productColor1">Color</label>
        <input type="color" id="productColor1" name="productColor1" require>
        <button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        
        <label for="productColor2">Color</label>
        <input type="color" id="productColor2" name="productColor2">
        <button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <label for="productColor3">Color</label>
        <input type="color" id="productColor3" name="productColor3">
        <button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <label for="productSize">Talle</label> <button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <input type="checkbox" value="S"><label>S</label>
        <input type="checkbox" value="M"><label>M</label>
        <input type="checkbox" value="L"><label>L</label>
        <input type="checkbox" value="XL"><label>XL</label>
        <label for="productPrice">Precio</label><button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <input type="number" id="productPrice" name= "productPrice" require >
        <label for="productDescription">Descripcion</label><button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <input type="text" id="productDescription" name= "productDescription" require >
        <label for="productStock">Cantidad disponible</label><button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <input type="number" id="productStock" name= "productStock" require >
        <label for="productImages">Foto del producto</label><button class ="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <input type="file" id="productImages" name= "productImages" accept=".jpg , .png" >
        <input type="submit" value="Producto editado">

    </form>
    
</body>
</html>