<!DOCTYPE html>
<html lang="es" id="notfound">
<%- include("../partials/head") %>

  <body id="notfound">
    <div class="notfound-404">
      <img class="img-404" src="/images/misc/404.png">
      <h2 id="notfound-title"> Página no encontrada </h2>
      <p id="notfound-text">Lamentablemente no encontramos la página que buscas porque ha cambiado de nombre o no está disponible temporalmente</p>
  
    <button id="backHome"> Volver al inicio </button>
    </div>
  </body>

</html>