<!-- HTML -->
<!DOCTYPE html>
<html lang="es" style="overflow-x: hidden;">
  <%- include("../partials/head") %>
  <body class="bodyXL">
    <!-- HEADER -->
    <% const headerData = {linkHead_01: {name: "Twitter", url: "https://twitter.com/"}, linkHead_02: {name: "Instagram", url: "https://instagram.com/"}, linkHead_03: {name: "Google Maps", url: "https://www.google.com/maps/"},  linkHead_04: {name: "Youtube", url: "https://youtube.com/"}, linkHead_05: {name: "Facebook", url: "https://facebook.com/"},}; %>
    <%- include('../partials/header', headerData) %>
    <!-- MAIN -->
    <main class="mainPadding">
      <section class="home-wrap">
        <h2 class="home-title">DISEÑART</h2>
        <div class="home-product-wrap">
          <div class="home-carousel">
            <div class="carousel-button-up"><button><i class="fa-solid fa-angle-up"></i></button></div>
            <div class="carousel-button-down"><button><i class="fa-solid fa-angle-down"></i></button></div>
            <div class="home-carousel-container">
              <img src="/images/productos/buzo/buzo2.jpg">
              <img src="/images/productos/Remera/remera-h1.jpg">
              <img src="/images/productos/Termo/termo1.jpg">
              <img src="/images/productos/Taza/taza2.jpg">
            </div>
          </div>
          <div class="home-button"> <a href="/products/details"><button class="design-button">Empezá a diseñar</button></div></a>
          <p class="home-product-information">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim tempore
            quisquam perferendis deserunt assumenda! Ipsa consequatur saepe ducimus, ipsum ut tempora! Repudiandae
            quisquam rem animi maxime deserunt quasi corrupti blanditiis?</p>
          <div class="home-product-links">
            <ul class="product-links-content">
              <li><a href="#">BUZO OVERSIZE</a></li>
              <li><a href="#">REMERA OVERSIZE</a></li>
              <li><a href="#">TERMO PEQUEÑO</a></li>
              <li><a href="#">TAZA MEDIANA</a></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <!-- FOOTER -->
    <% const footerData = {link_01: {name: "Twitter", url: "https://twitter.com/"}, link_02: {name: "Instagram", url: "https://instagram.com/"}, link_03: {name: "Google Maps", url: "https://www.google.com/maps/"},  link_04: {name: "Youtube", url: "https://youtube.com/"}, link_05: {name: "Facebook", url: "https://facebook.com/"},}; %>
    <%- include("../partials/footer", footerData); %>
    <!-- SCRIPT -->
    <script src="js/main.js"></script>
    <script src="js/header.js"></script>
  </body>
</html>