<!-- HTML -->
<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include("../partials/head") %>  
  <!-- BODY -->
  <body class="bodyXL">
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <!-- MAIN -->
    <main class="mainPadding">
        <section class="home-wrap">
                    <div id="modal1" class="form">
                        <div class="modal-content" id="register-login-ejs__transformXY">
                          <h2 class="modal-form__titulo">Bienvenido</h2>
                            <form class="modal-form" action="/">
                                <label for="email">Correo electrónico</label>
                                <input class="input" type="email" id="emailLogin" name="email" required>
                    
                                <label for="password">Contraseña</label>
                                <input class="input" type="password" id="passwordLogin" name="password" required>
                    
                                <div class="checkbox-password">
                                    <input type="checkbox" id="remember-password" name="remember-password">
                                    <label for="remember-password">Recordarme</label>
                                </div>
                    
                                <p><a href="#">¿Olvidaste tu contraseña?</a></p>
                    
                                <button class="modal-submit" type="submit">Iniciar sesión</button>
                    
                                <div class="modal-bottom">
                                    <p>¿Necesitas una cuenta?</p> <a href="/register">Registrarse</a>
                                </div>
                    
                            </form>
                        </div>
                    </div>
        </section>
    </main>
    <!-- FOOTER -->
    <% const footerData = { link_01: {name: "Twitter", url: "https://twitter.com/"}, link_02: {name: "Instagram", url: "https://instagram.com/"}, link_03: {name: "Google Maps", url: "https://www.google.com/maps/"},  link_04: {name: "Youtube", url: "https://youtube.com/"}, link_05: {name: "Facebook", url: "https://facebook.com/"},} %>
    <%- include("../partials/footer", footerData); %>
    <!-- SCRIPT -->
    <script src="js/main.js"></script>
    <script src="js/header.js"></script>
  </body>
</html>