<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body class="bodyXL">
    <!-- HEADER -->
    <%- include('../partials/header') %>
        <!-- MAIN -->
<h2> Hi user <%= user.firstName %> </h2>

<img src="/images/users/default.png">
    <!-- FOOTER -->
    <%- include("../partials/footer"); %>
    <!-- SCRIPT -->
    <script src="/../js/main.js"></script>
    <script src="/../js/header.js"></script>
  </body>
</html>